// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

// Insert your custom variables here.
$base-color: #A6DE65;
$color: #9C9C9C;
$font-size: 12px;
$panel-body-color: #5E6A80;
//$base-color-button: #9A8BD1;
$base-color-active: #BFBFBF;


//buttons
$button-small-font-weight: bold !default;
//$button-default-base-color: adjust-color($base-color, $hue: 0deg, $saturation: 50.556%, $lightness: 15.745%) !default;
//$button-default-base-color-over: adjust-color($base-color, $hue: 0deg, $saturation: 46.444%, $lightness: 13.588%) !default;
//$button-default-base-color-pressed: adjust-color($base-color, $hue: -0.725deg, $saturation: -1.556%, $lightness: -3.725%) !default;
//$button-default-background-color: $button-default-base-color;
$button-default-color: white;

$button-default-base-color: adjust-color(#409C34, $hue: 5deg, $saturation: -15.556%, $lightness: 5.745%) !default;
$button-default-base-color-over: adjust-color(#409C34, $hue: -30deg, $saturation: 30.444%, $lightness: 6.588%) !default; //E4F3FF
$button-default-base-color-focus: $button-default-base-color-over !default;
$button-default-base-color-pressed: adjust-color(#409C34, $hue: -0.725deg, $saturation: -9.556%, $lightness: -3.725%) !default; //B6CBE4

//panel
$panel-header-background-gradient: color-stops(#3F9B34, #97CB5C, #A6DE65, #EEF1F1);
$panel-header-font-size: ceil($font-size * 1.4) !default; 
$panel-header-padding: 10px 4px 15px 40px !default;
$panel-header-color: white;
$panel-border-color: #BEC9D0;
$panel-header-border-width: 0px !default;


//toolbar
$toolbar-background-gradient: color-stops(#EEF1F1, #E8E9EA);

//grid
$grid-row-cell-color: null !default;
$grid-row-cell-font: normal ceil($font-size * .11) !default;
$grid-row-cell-selected-border-color: adjust-color($base-color-active, $hue: 6.952deg, $saturation: 5.848%, $lightness: -6.471%) !default;
$grid-row-cell-selected-background-color: adjust-color($base-color-active, $hue: 3.188deg, $saturation: 0.542%, $lightness: 7.843%) !default;

//window
$window-header-padding: 10px 10px 0 !default;
$window-header-color: #FFFFFF !default;



@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true