*/logs/*
*/cache/*
*/config/config_local.*
tests/log/testdox.html
tests/log/report/*.*
tests/src/Tests/cache/*
tests/src/Tests/logs/*
web/bundles/*
*~
*.swp
*.orig
app/config/parameters.ini
/app/config/parameters.ini
vendor/*
.project
.settings/*
nbproject/*
app/config/custom.yml
