/* 
    Document   : ext-custom
    Created on : 2011-11-25, 16:39:20
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.hatimeria-main-menu .x-grid-row .x-grid-cell-inner{
    height: 35px;
    font-size: 15px;
    font-weight: normal;
}
.hatimeria-main-menu .x-grid-row .x-grid-cell{
    padding-left: 15px;
    border-radius: 10px; 
}
.hatimeria-main-menu .x-grid-cell-inner {
    padding: 9px;
}
.x-grid-header-ct span{
    font-weight: bold;
}
.hatimeria-main-menu #logo{
    text-align: center;
    line-height: 20px;
}
.hatimeria-main-menu #logo a{
    color: #4CA241;
}
.x-tree-icon-leaf, .x-tree-icon-parent, .x-grid-tree-node-expanded .x-tree-icon-parent{
    background: none;
}
.x-panel-header-text-default{
    text-shadow: 0 1px 0 #919191;
}
.x-grid-row .x-grid-row-selected{
    font-size: 8px;
}
.x-grid-row.x-grid-row-selected .x-grid-cell{
    color: white;
}
.x-unselectable {
    font-size: 12px;
}
.x-window-header-text-default {
    text-shadow: 1px 1px gray;
}
#hatimeria-powered-by img, #hatimeria-powered-by p{
    float: left;
    padding: 0 5px;
}
#hatimeria-powered-by a{
    color: #4CA241;
}
.x-message-box .x-window-body{
    text-align: center;
    font-weight: bold;
    color: gray;
    padding: 10px;
    background-color: white;
}
.x-tree-panel .x-grid-row .x-grid-cell-inner img.x-tree-icon{
    display: none;
}