/* 
    Document   : ext-custom
    Created on : 2011-11-25, 16:39:20
    Author     : developer
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.hatimeria-main-menu .x-grid-row .x-grid-cell-inner{
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}
.hatimeria-main-menu .x-grid-cell-inner {
    padding: 9px;
}
.x-tree-panel .x-grid-row .x-grid-cell{
    border-top: 2px solid white;
    border-bottom: 2px solid #ABADAE;
    background-color: #EEEEEF;
    text-shadow: 0.1em 0.1em 0.05em white;
}
.x-tree-panel .x-grid-row .x-grid-cell:hover{
    background-color: #ABD97F;
    color: #5F5F60;
}