body, html{
    font-family: Arial;
    color: #919191;
    margin: 0;
    padding: 0;
}

body{
    overflow-y: scroll;
}

#container{
    width: 990px;
    margin: 40px auto;
}

#footer{
    width: 220px;
    margin-bottom: 30px;
    border-top-style: dashed;
    border-width: 1px;
    text-align: right;
    font-size: 13px;
    float: left;
}

img{
   border: 0px;
   margin: 5px;
}

h1 a {
    display: block;
    float: left;
    margin-right: 20px;
}

h1 {
    color: #786CA3;
    line-height: 63px;
}

a{
    color:#4CA241; 
}
li{
    font-size: 12px;
    padding-bottom: 10px;
}

#content{
    width: 100%;
    float: left;
}
.clear-box{
    clear: both;
}